.colorFondo {
    background-color: salmon;

}

body {
    font-family: 'Turret Road', cursive;
}

.buttonLoginMargin {
    margin-top: -110px
}

.paddingLogin {
    padding-left: 390px;
}

.marginButtonRight {
    margin-right: 20px;
}

.buttonFontSize { 
    font-size: 30px;
}

.borderDashed {
    border-style: dashed;
}

.adminButtonSize {
    font-size: 90px;
}

.containerMarginTop{
    margin-top: 300px
}

.footer {
    background-color: black;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    color: white;
}
.MarginTop{
    margin-top: 30px;

}